
		div.wpcf7 {
		    margin: 0;
		    padding: 0;
		}
		div.wpcf7-response-output {
		    margin: 2em 0.5em 1em;
		    padding: 0.2em 1em;
		}
		div.wpcf7 .screen-reader-response {
		    position: absolute;
		    overflow: hidden;
		    clip: rect(1px, 1px, 1px, 1px);
		    height: 1px;
		    width: 1px;
		    margin: 0;
		    padding: 0;
		    border: 0;
		}
		div.wpcf7-mail-sent-ok {
		    border: 2px solid #398f14;
		}
		div.wpcf7-mail-sent-ng {
		    border: 2px solid #ff0000;
		}
		div.wpcf7-spam-blocked {
		    border: 2px solid #ffa500;
		}
		div.wpcf7-validation-errors {
		    border: 2px solid #f7e700;
		}
		.wpcf7-form-control-wrap {
		    position: relative;
		}
		span.wpcf7-not-valid-tip {
		    color: #f00;
		    font-size: 1em;
		    display: block;
		}
		.use-floating-validation-tip span.wpcf7-not-valid-tip {
		    position: absolute;
		    top: 20%;
		    left: 20%;
		    z-index: 100;
		    border: 1px solid #ff0000;
		    background: #fff;
		    padding: .2em .8em;
		}
		span.wpcf7-list-item {
		    display: inline-block;
		    margin: 0 0 0 1em;
		}
		span.wpcf7-list-item-label::before,
		span.wpcf7-list-item-label::after {
		    content: " ";
		}
		.wpcf7-display-none {
		    display: none;
		}
		div.wpcf7 .ajax-loader {
		    visibility: hidden;
		    display: inline-block;
		    background-image: url('../../images/ajax-loader.gif');
		    width: 16px;
		    height: 16px;
		    border: none;
		    padding: 0;
		    margin: 0 0 0 4px;
		    vertical-align: middle;
		}
		div.wpcf7 .ajax-loader.is-active {
		    visibility: visible;
		}
		div.wpcf7 div.ajax-error {
		    display: none;
		}
		div.wpcf7 .placeheld {
		    color: #888;
		}
		div.wpcf7 .wpcf7-recaptcha iframe {
		    margin-bottom: 0;
		}
		div.wpcf7 input[type="file"] {
		    cursor: pointer;
		}
		div.wpcf7 input[type="file"]:disabled {
		    cursor: default;
		}
		.gambit-row-fullheight {
		    height: 100vh!important;
		    max-height: 100%;
		    position: relative
		}
		.gambit-row-fullheight>* {
		    position: relative
		}
		.gambit-row-fullheight.gambit-row-height-location-center>* {
		    top: 50%;
		    -webkit-transform: translateY(-50%);
		    transform: translateY(-50%)
		}
		.gambit-row-fullheight.gambit-row-height-location-top>* {
		    top: 30px
		}
		.gambit-row-fullheight.gambit-row-height-location-bottom>* {
		    top: calc(100% - 30px);
		    -webkit-transform: translateY(-100%);
		    transform: translateY(-100%)
		}
		.gambit-row-fullheight>[class*=gambit] {
		    -webkit-transform: none;
		    transform: none
		}
		.gambit_parallax_inner {
		    min-height: 150px;
		    -webkit-backface-visibility: hidden;
		    backface-visibility: hidden
		}
		.gambit_video_inner {
		    z-index: 0
		}
		.gambit_has_video_bg {
		    position: relative;
		    z-index: 1
		}
		.gambit_video_inner .click-overrider {
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    z-index: 1;
		    pointer-events: all!important
		}
		.gambit_video_inner {
		    position: absolute!important;
		    pointer-events: none!important;
		    overflow: hidden!important;
		    top: 0!important;
		    left: 0!important;
		    right: 0!important;
		    bottom: 0!important;
		    -webkit-transform: none!important;
		    transform: none!important
		}
		.gambit_video_inner iframe {
		    margin-bottom: 0!important;
		    display: block!important;
		    max-width: none!important;
		    max-height: none!important
		}
		.gambit_video_inner+:not(.gambit_video_inner):not(.gambit_parallax_inner) {
		    position: relative
		}
		body.vc_editor .gambit_video_inner {
		    display: none
		}
		.gambit_video_inner.force-show {
		    visibility: visible!important
		}
		.gambit_hover_inner {
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    z-index: 0;
		    background-size: cover;
		    background-position: center;
		    -webkit-transform-origin: 50% 50%;
		    transform-origin: 50% 50%;
		    -webkit-transform-style: preserve-3d;
		    transform-style: preserve-3d;
		    -webkit-backface-visibility: hidden;
		    backface-visibility: hidden;
		    -webkit-transform: none;
		    transform: none
		}
		.has_gambit_hover_row {
		    position: relative!important;
		    z-index: 1
		}
		.has_gambit_hover_row>* {
		    -webkit-transform-style: flat;
		    transform-style: flat;
		    -webkit-transform: translateZ(1000px);
		    transform: translateZ(1000px)
		}
		.has_gambit_hover_row>.gambit_hover_inner {
		    z-index: 0
		}
		.gambit_background_row_inner {
		    pointer-events: none;
		    position: absolute;
		    top: 0!important;
		    left: 0!important;
		    right: 0!important;
		    bottom: 0!important
		}
		@media screen and (max-width: 980px) {
		    .gambit_parallax_inner.fixed {
		        background-attachment: scroll!important
		    }
		}
		/*# sourceMappingURL=maps/style.css.map */
		
		.scroll .scroll_this img {
		    height: 58px !important;
		    width: 35px !important
		}
		.recentcomments a {
		    display: inline !important;
		    padding: 0 !important;
		    margin: 0 !important;
		}
		.quintuswp_preloader_holder {
		    background-color: #EC6543;
		}
		.fixed-sidebar-menu {
		    background-color: rgba(37, 37, 37, 0.95);
		}
		#navbar .menu-item > a,
		.navbar-nav .search_products a,
		.navbar-default .navbar-nav > li > a:hover,
		.navbar-default .navbar-nav > li > a:focus,
		.navbar-default .navbar-nav > li > a {
		    color: #252525;
		}
		#navbar .menu-item.selected > a,
		#navbar .menu-item:hover > a {
		}
		#navbar .sub-menu,
		.navbar ul li ul.sub-menu {
		    background-color: #252525;
		}
		#navbar ul.sub-menu li a {
		    color: #ffffff;
		}
		#navbar ul.sub-menu li a:hover {
		    background-color: transparent;
		}
		#navbar ul.sub-menu li a:hover {
		    color: #ec6543;
		}
		body {
		    opacity: 1;
		    visibility: visible;
		    -webkit-transition: opacity 0.24s ease-in-out;
		    -moz-transition: opacity 0.24s ease-in-out;
		    transition: opacity 0.24s ease-in-out;
		}
		.wf-loading body,
		{
		    opacity: 0;
		}
		.ie.wf-loading body,
		{
		    visibility: hidden;
		}
		h1,
		h1 span {
		    line-height: 36px;
		    font-size: 36px;
		    opacity: 1;
		    visibility: visible;
		    -webkit-transition: opacity 0.24s ease-in-out;
		    -moz-transition: opacity 0.24s ease-in-out;
		    transition: opacity 0.24s ease-in-out;
		}
		.wf-loading h1,
		.wf-loading h1 span,
		{
		    opacity: 0;
		}
		.ie.wf-loading h1,
		.ie.wf-loading h1 span,
		{
		    visibility: hidden;
		}
		h2 {
		    line-height: 30px;
		    font-size: 30px;
		    opacity: 1;
		    visibility: visible;
		    -webkit-transition: opacity 0.24s ease-in-out;
		    -moz-transition: opacity 0.24s ease-in-out;
		    transition: opacity 0.24s ease-in-out;
		}
		.wf-loading h2,
		{
		    opacity: 0;
		}
		.ie.wf-loading h2,
		{
		    visibility: hidden;
		}
		h3 {
		    line-height: 24px;
		    font-size: 24px;
		    opacity: 1;
		    visibility: visible;
		    -webkit-transition: opacity 0.24s ease-in-out;
		    -moz-transition: opacity 0.24s ease-in-out;
		    transition: opacity 0.24s ease-in-out;
		}
		.wf-loading h3,
		{
		    opacity: 0;
		}
		.ie.wf-loading h3,
		{
		    visibility: hidden;
		}
		h4 {
		    line-height: 18px;
		    font-size: 18px;
		    opacity: 1;
		    visibility: visible;
		    -webkit-transition: opacity 0.24s ease-in-out;
		    -moz-transition: opacity 0.24s ease-in-out;
		    transition: opacity 0.24s ease-in-out;
		}
		.wf-loading h4,
		{
		    opacity: 0;
		}
		.ie.wf-loading h4,
		{
		    visibility: hidden;
		}
		h5 {
		    line-height: 14px;
		    font-size: 14px;
		    opacity: 1;
		    visibility: visible;
		    -webkit-transition: opacity 0.24s ease-in-out;
		    -moz-transition: opacity 0.24s ease-in-out;
		    transition: opacity 0.24s ease-in-out;
		}
		.wf-loading h5,
		{
		    opacity: 0;
		}
		.ie.wf-loading h5,
		{
		    visibility: hidden;
		}
		h6 {
		    line-height: 12px;
		    font-size: 12px;
		    opacity: 1;
		    visibility: visible;
		    -webkit-transition: opacity 0.24s ease-in-out;
		    -moz-transition: opacity 0.24s ease-in-out;
		    transition: opacity 0.24s ease-in-out;
		}
		.wf-loading h6,
		{
		    opacity: 0;
		}
		.ie.wf-loading h6,
		{
		    visibility: hidden;
		}
		input,
		textarea {
		    opacity: 1;
		    visibility: visible;
		    -webkit-transition: opacity 0.24s ease-in-out;
		    -moz-transition: opacity 0.24s ease-in-out;
		    transition: opacity 0.24s ease-in-out;
		}
		.wf-loading input,
		.wf-loading textarea,
		{
		    opacity: 0;
		}
		.ie.wf-loading input,
		.ie.wf-loading textarea,
		{
		    visibility: hidden;
		}
		input[type="submit"] {
		    opacity: 1;
		    visibility: visible;
		    -webkit-transition: opacity 0.24s ease-in-out;
		    -moz-transition: opacity 0.24s ease-in-out;
		    transition: opacity 0.24s ease-in-out;
		}
		.wf-loading input[type="submit"],
		{
		    opacity: 0;
		}
		.ie.wf-loading input[type="submit"],
		{
		    visibility: hidden;
		}
		.navbar-default {
		    background-color: #ffffff;
		}
		header {
		    color: #252525;
		}
		.fixed-sidebar-menu {
		    background-color: rgba(255, 255, 255, 0.95);
		}
		footer .footer-top {
		    background-color: #252525;
		}
		footer .footer-top h1.widget-title,
		footer .footer-top h3.widget-title,
		footer .footer-top .widget-title {
		    color: #ffffff;
		}
		footer .footer {
		    background-color: #252525;
		}
		footer .footer h1.widget-title,
		footer .footer h3.widget-title,
		footer .footer .widget-title {
		    color: #ffffff;
		}
		.single article .article-content p {
		    line-height: 29px;
		    color: #454646;
		    font-size: 18px;
		    opacity: 1;
		    visibility: visible;
		    -webkit-transition: opacity 0.24s ease-in-out;
		    -moz-transition: opacity 0.24s ease-in-out;
		    transition: opacity 0.24s ease-in-out;
		}
		.wf-loading .single article .article-content p,
		{
		    opacity: 0;
		}
		.ie.wf-loading .single article .article-content p,
		{
		    visibility: hidden;
		}
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab.vc_active > a {
		    color: #666666;
		}
		.vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels,
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab.vc_active > a {
		    background-color: #f8f8f8;
		}
		.vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels,
		.vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels::after,
		.vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels::before,
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab.vc_active > a {
		    border-color: #f0f0f0;
		}
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab > a {
		    color: #666666;
		}
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab > a {
		    background-color: #ebebeb;
		}
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab > a {
		    border-color: #e3e3e3;
		}
		blockquote {
		    background-color: #f6f6f6;
		}
		blockquote {
		    border-color: #EC6543;
		}
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title > a {
		    color: #666666;
		}
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading {
		    background-color: #f8f8f8;
		}
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading {
		    border-color: #f0f0f0;
		}
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab.vc_active > a {
		    color: #666666;
		}
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading,
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body,
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading:focus,
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading:hover {
		    background-color: #f8f8f8;
		}
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading,
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body,
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body::after,
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body::before {
		    border-color: #f0f0f0;
		}
		</style><style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1486115467863 {
		    margin-top: 0px !important;
		    margin-bottom: 0px !important;
		    padding-top: 35px !important;
		    padding-bottom: 75px !important;
		    background-color: #ec6543 !important;
		}
		.vc_custom_1475067775187 {
		    margin-top: 0px !important;
		    margin-bottom: 0px !important;
		    padding-top: 0px !important;
		    padding-bottom: 0px !important;
		}
		.vc_custom_1475067775187 {
		    margin-top: 0px !important;
		    margin-bottom: 0px !important;
		    padding-top: 0px !important;
		    padding-bottom: 0px !important;
		}
		.vc_custom_1467196567662 {
		    margin-top: 0px !important;
		    margin-bottom: 0px !important;
		    padding-top: 55px !important;
		    padding-bottom: 50px !important;
		}
		.vc_custom_1467201448005 {
		    margin-top: 0px !important;
		    margin-bottom: 0px !important;
		    padding-top: 60px !important;
		    padding-bottom: 0px !important;
		}
		.vc_custom_1467204675985 {
		    margin-top: 0px !important;
		    margin-bottom: 0px !important;
		    padding-top: 55px !important;
		    padding-bottom: 50px !important;
		}
		.vc_custom_1486131436476 {
		    margin-top: 0px !important;
		    margin-bottom: 0px !important;
		    padding-top: 35px !important;
		    padding-bottom: 75px !important;
		    background-color: #252525 !important;
		}
		.vc_custom_1486131916335 {
		    margin-top: 0px !important;
		    margin-bottom: 0px !important;
		    padding-top: 45px !important;
		    padding-bottom: 50px !important;
		}
		.vc_custom_1486132200300 {
		    margin-top: 0px !important;
		    margin-bottom: 0px !important;
		    padding-top: 20px !important;
		    padding-bottom: 70px !important;
		    background-color: #ffffff !important;
		}
		.vc_custom_1467893284398 {
		    margin-top: 0px !important;
		    margin-bottom: 0px !important;
		    padding-top: 10px !important;
		    padding-bottom: 80px !important;
		}
		.vc_custom_1467281860106 {
		    margin-top: 0px !important;
		    margin-bottom: 0px !important;
		    padding-top: 0px !important;
		    padding-bottom: 0px !important;
		}
		.vc_custom_1475066783855 {
		    margin-right: 0px !important;
		    margin-bottom: 0px !important;
		    margin-left: 0px !important;
		    padding-right: 0px !important;
		    padding-left: 0px !important;
		}
		.vc_custom_1475066778372 {
		    margin-top: 0px !important;
		    margin-right: 0px !important;
		    margin-bottom: 0px !important;
		    margin-left: 0px !important;
		    padding-top: 0px !important;
		    padding-right: 0px !important;
		    padding-bottom: 0px !important;
		    padding-left: 0px !important;
		}
		.vc_custom_1475067809780 {
		    margin-right: 0px !important;
		    margin-bottom: 0px !important;
		    margin-left: 0px !important;
		    padding-right: 60px !important;
		    padding-bottom: 0px !important;
		    padding-left: 60px !important;
		}
		.vc_custom_1467188481059 {
		    margin-top: 0px !important;
		    margin-bottom: 0px !important;
		    padding-top: 0px !important;
		    padding-bottom: 0px !important;
		}
		.vc_custom_1475066778372 {
		    margin-top: 0px !important;
		    margin-right: 0px !important;
		    margin-bottom: 0px !important;
		    margin-left: 0px !important;
		    padding-top: 0px !important;
		    padding-right: 0px !important;
		    padding-bottom: 0px !important;
		    padding-left: 0px !important;
		}
		.vc_custom_1475066783855 {
		    margin-right: 0px !important;
		    margin-bottom: 0px !important;
		    margin-left: 0px !important;
		    padding-right: 0px !important;
		    padding-left: 0px !important;
		}
		.vc_custom_1475067809780 {
		    margin-right: 0px !important;
		    margin-bottom: 0px !important;
		    margin-left: 0px !important;
		    padding-right: 60px !important;
		    padding-bottom: 0px !important;
		    padding-left: 60px !important;
		}
		.vc_custom_1467188481059 {
		    margin-top: 0px !important;
		    margin-bottom: 0px !important;
		    padding-top: 0px !important;
		    padding-bottom: 0px !important;
		}
		.vc_custom_1467201489173 {
		    margin-bottom: 0px !important;
		    padding-bottom: 60px !important;
		}
		.vc_custom_1467206432727 {
		    margin-bottom: 0px !important;
		    padding-bottom: 20px !important;
		}
		.vc_custom_1467894712321 {
		    margin-bottom: 0px !important;
		    padding-top: 45px !important;
		    padding-bottom: 55px !important;
		}
		.vc_custom_1458739779194 {
		    margin-bottom: 40px !important;
		}
		.vc_custom_1467281866962 {
		    margin-top: 0px !important;
		    margin-bottom: 0px !important;
		    padding-top: 0px !important;
		    padding-bottom: 0px !important;
		}