/* GERAL */

.tit-section {
  background-color: #fff;
  color: #225DCB;
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
  width: 200px;
  margin: auto;
  margin-top: 50px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 1px;
  padding-top: 1px;
}

/* MENU */

header {
  background-color: #000;
}
.navbar {
  background-color: #000;
}
.navbar-nav {
  margin: auto;

}
.nav-link {
  color: #225DCB !important;
  display: flex;
  align-items: center;
}
.nav-link i {
  margin-right: 5px;
}
.navbar-brand img {
  height: 30px;
  width: auto; 
}

.navbar-nav li > a:hover {
  color: #fff !important;
  transition: color 0.7s ease;
}


/* HOME */

#home {
  height: 100vh;
  background-image: url(img/background-home.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.text-home {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 700;
}

.text-home-2 {
  font-family: 'Roboto', sans-serif;
  color: #225DCB;
  font-weight: 700;
  margin: 0;
}

.container-home-esqrd {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.space-web {
  margin-top: 20px;
}

.tag-home-2 {
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
}

.minha-imagem-1 img {
  height: 400px;
}

.botes-home {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.download-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 20px;
  font-size: 25px;
  height: 60px;
  width: 180px;
  color: #225DCB;
  font-weight: 600;
  margin-left: 10px;
}

.download-cv p {
  margin-top: 0; 
  margin-bottom: 0;
}

.download-cv a {
  color: #225DCB;
  transition: color 0.3s;
  text-decoration: none;
}
.download-cv a:hover {
  color: #fff;
  opacity: 0.8;
}

/* Social Mídea */

.social-media {
  display: flex;
  justify-content: center;
  background-color: #000;
  border-radius: 20px;
  width: 189px;
}
.social-media .social-link {
  margin: 0 10px;
}
.social-link i {
  font-size: 40px;
  color: #225DCB;
  transition: color 0.3s;
}
.social-link i:hover {
  color: #fff;
}

/* sobre */

#sobre {
  padding: 50px;
  background-color: #1E1E1E;
  width: auto;
}

.container-sobre-mim {
  display: flex;
}

.divs-sobre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.img-02 img {
  width: 148px;
  margin: 0 0px 0 0;
}

.divs-sobre {
  margin: auto;
}

.div-sobre p, .div-sobre ul {
  padding: 15px;
  color: #fff;
  background-color: #27457D;
  margin: 50px 0 0px 0px;
  border-radius: 20px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.78);
  width: 770px;
}

.div-sobre li{
  margin-left: 15px;
}

/* SKILLS */

#Skills {
  padding: 50px;
  background-color: #1E1E1E;
  height: auto;
}

.skills-text {
  color: #fff;
  text-align: center;
  margin-top: 30px;
}

.div-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #27457D;
  color: #fff;
  border-radius: 20px;
  width: 155px;
  height: 155px;
  margin: 20px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.78);
}

.container-skills {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.linha1-skills, .linha2-skills, .linha3-skills{
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-skill img {
  height: 65.0px;
  width: auto;
}

.div-skill p {
  padding-top: 15px;
  font-family: 'Roboto', sans-serif;
}

.zoom-effect {
  transition: transform 0.3s ease; /* Duração e aceleração da transição */
}

.zoom-effect:hover {
  transform: scale(1.1); /* Aumenta o tamanho em 20% (1.2x) */
}

/* SERVIÇOS */

#servicos {
  padding: 50px;
  background-color: #1E1E1E;
}

.container-servicos {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.card-dev, .card-ux-design, .card-seo {
  flex-direction: column;
  background-color: #27457D;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 15px;
  margin: 20px;
  height: 556px;
  width: 355px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.78);
}

.tit-servicos p {
  background-color: #fff;
  color: #27457D;
  font-weight: 500;
  font-size: 20px;
  width: 100px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border-radius: 10px;
}

.img-servic img {
  width: 107px;
  margin-bottom: 30px;
}

/* projetos */

#projetos {
  padding: 50px;
  background-color: #1E1E1E;
}

.container-projetos {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem-container img {
  max-width: 300px;
}

.linha-1-projects, .linha-2-projects {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.text-project {
  width: 800px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.text-project p {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.projetos-00 {
  margin: 15px;
}

.projeto {
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.78);
}

.imagem-container {
  overflow: hidden;
}

.imagem-projeto {
  transition: transform 0.3s ease-in-out;
}

.descricao-projeto h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.projeto:hover .imagem-projeto {
  transform: scale(1.1);
}

.descricao-projeto {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.projeto:hover .descricao-projeto {
  opacity: 1;
}

/* Contato */

#contato {
  padding: 50px;
  background-color: #1E1E1E;
}

.titulo-contact {
  margin-bottom: 30px;
}

.Container-geral-contato {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.Titulo-contato p {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #459CD7;
  margin: 50px;
}

.Container-1-contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
  height: 589px;
  background-color: #fff;
  border-radius: 20px;
}

.Container-Contato {
  background: white;
}

.container-Localizacao {
  background: white;
  display: flex;
  margin: 40px 20px 20px 50px;
}

.container-Localizacao svg {
  background: white;
  color: #459CD7;
}

.escrita-contato {
  background: white;
  margin-left: 30px;
}

.escrita-contato-1 {
  background: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: black;
}

.escrita-contato-2 {
  background: white;
  font-family: 'Open Sans', sans-serif;
  color: #1e3b68;
  margin-top: -15px;
}

.escrita-contato-2 a {
  text-decoration: none;
}

.area-svg {
  background-color: #fff;
}

/* WHATS-ICON */

.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #225DCB;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  animation: whatsapp-animation 2s infinite;
  transition: opacity 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: black;
}

.footer p {
  margin: 0;
  padding: 0;
}


.whatsapp-icon:hover {
  opacity: 0.8;
}

@keyframes whatsapp-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
