/* Gerais */ 

.fundo-fixo {
  background-color: #262626;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #459CD7;
}


.row {
  margin: 0;
}

p, li {
  color: #444;
  font-size: 14px;
}

/* BARRA DE NAVEGACAO */ 

header, .navbar {
  background-color: black;
}

header {
  height: 80px;
}

nav {
  height: 80px;
}

#logo {
  width: 130px;
  padding-left: 20px;
}

#navbar-links a {
  text-decoration: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.navbar a:hover {
  border-bottom: 5px solid #459CD7;
  transition: 0.5s;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

.size-menu-hamb {
  width: 30px;
  height: 30px;
}

.color-incon {
  color: #459CD7;
}

.afastar-o-lado {
  margin-right: 130px;
}

/* HOME */

.home {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container-redes {
  display: flex;
}

.part-1 {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-perfil {
  width: 345px;
}

.part-1 h1 {
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.part-1 h2 {
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
}

.size-link-redes-sociais {
  margin: 30px 10px 20px 10px;
}


/* Sobre mim */

#Sobre-mim {
  margin: 100px;
}

.container-sobre-mim {
  display: flex;
}

.size-img-sobremim img {
  width: 150px;
  margin-right: 100px;
  margin-top: 100px;
}

.texto-sobre-mim {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #fff;
  padding-bottom: 10px;
}

.container-texto-sobre-mim h3 {
  margin: 20px 20px 50px 20px;
}

.texto-sobre-mim-prt-2 {
  margin-top: 60px;
}

.list-bold {
  font-weight: bold;
}

/* Skills */

#Skills {
  margin: 200px 100px 200px 100px;
} 

.titulo-skills {
  margin: 100px;
}

.img-skills {
  display: flex;
  justify-content: center;
}

.img-skills img {
  height: 500px;
}

/* Resumo */

#Resumo {
  margin-bottom: 200px;
}

.titulo-resumo {
  margin: 50px;
}

.titulo-resumo h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #459CD7;
}

.Container-resumo-principal {
  display: flex;
  margin: 20px;
  justify-content: space-around;
}

.container-educacao {
  width: 600px;
}

.link-curriculo {
  color: #fff;
}

.div-linha {
  border: 1px solid #459CD7;
}

.container-profissional {
  width: 600px;
}

.titulo-aba-resumo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #459CD7;
}

.titulo-atividade-resumo {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
}

.box-date {
  margin-bottom: 20px;
  width: 89px;
  height: 29px;
  background-color: #459CD7;
  color: #fff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.titulo-empresa-resumo {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 18px;
  font-style: italic;
}

.descricao-items-resumo {
  font-family: 'Open Sans', sans-serif;
  color: #ffffffba;
  font-size: 15px;
  margin-bottom: 50px;
}

.descricao-atividades-resumo {
  font-family: 'Open Sans', sans-serif;
  color: #ffffffba;
  font-size: 15px;
  margin-bottom: 15px;
}

/* Certificacoes */

.certificados {
  margin: 50px;
}

.certificados p {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #459CD7;
}

.certificados li {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 15px;
  padding: 5px;
}

/* Projetos */

#Projetos {
  margin-bottom: 150px;
}

.div-titulo-projetos h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #459CD7;
  margin: 50px;
}

.div-titulo-projetos p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #ffffffba;
  margin: 50px;
}

.linha1-projeto {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tag-proj-1 img {
  width: 426px;
}

.tag-proj-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 506px;
  height: 336px;
  background-color: #459CD7;
  border-radius: 15px;
  margin: 20px;
}

.descri-proj a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
}

.descri-proj a:hover {
  color: #262626;
}

.descri-proj p:hover {
  color: #262626;
}

.descri-proj p {
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.tag-proj-2 img {
  width: 426px;
}

.tag-proj-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 506px;
  height: 336px;
  background-color: #fff;
  border-radius: 15px;
  margin: 20px;
}

.descri-proj-2 a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  text-decoration: none;
  color: #262626;
}

.descri-proj-2 a:hover {
  color: #459CD7;
}

.descri-proj-2 p:hover {
  color: #459CD7;
}

.descri-proj-2 p {
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #262626;
}


/* Contato */

.Container-geral-contato {
  display: flex;
  justify-content: space-evenly;
}

.Titulo-contato p {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #459CD7;
  margin: 50px;
}

.Container-1-contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
  height: 589px;
  background-color: #fff;
  border-radius: 20px;
}

.Container-2-contato {
  width: 647px;
  height: 623px;
  background-color: #fff;
  border-radius: 20px;
}

.container-Localizacao {
  display: flex;
  margin: 40px 20px 20px 50px;
}

.container-Localizacao svg {
  color: #459CD7;
}

.escrita-contato {
  margin-left: 30px;
}

.escrita-contato-1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: black;
}

.escrita-contato-2 {
  font-family: 'Open Sans', sans-serif;
  color: #1e3b68;
  margin-top: -15px;
} 


/* Whats Flutuando */

.Whats-flutuando {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  margin: 40px;
} 

.size-whats-app {
  margin: 50px;
}

.linha-debaixo {
  border-bottom: 5px solid #459CD7;
}

/* Footer */

footer {
  background-image: url(img/Rodapé.png);
  height: 75px;
  background-size: cover;
  margin-top: 50px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer a, p {
  text-decoration: none;
  color: #fff;
}
