/* Gerais */

main {
  background-color: #000103;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #459CD7;
}


p, li {
  color: #444;
  font-size: 14px;
}

/* BARRA DE NAVEGACAO */

#navbar-links a {
  text-decoration: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.navbar a:hover {
  border-bottom: 2px solid #459CD7;
  transition: 0.5s;
}

.color-incon {
  color: #459CD7;
} 

/* HOME */

.home {
  background-image: url(img/nasa-Q1p7bh3SHj8-unsplash.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.size-link-redes-sociais {
  width: 40px;
}

.img-container-2 img {
  width: 248px;
}

.titulo-home {
  margin-bottom: 50px;
}

.titulo-home h1 {
  color: #fff;
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: center;
}

.container-2 {
  margin-top: 50px;
  width: 816px;
  height: 327px;
  background-color: #000103;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
}

.lado-2-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.escrita-lado-2 {
  margin: 15px;
}

.escrita-lado-2 h2 {
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  color: #2970F4;
  text-align: center;
  line-height: 60px
}

.redes-home {
  display: flex;
}

.redes-home div {
  padding: 10px;
}

/* Sobre mim */

.container-sobre-mim {
  display: flex;
  padding: 100px;
}


.container-texto-sobre-mim h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #459CD7;
}

.size-img-sobremim img {
  width: 150px;
  margin-right: 100px;
  margin-top: 100px;
}

.texto-sobre-mim {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #fff;
  padding-bottom: 10px;
}

.container-texto-sobre-mim h3 {
  margin: 20px 20px 50px 20px;
}

.texto-sobre-mim-prt-2 {
  margin-top: 60px;
}

.list-bold {
  font-weight: bold;
}

/* Skills */

#Skills {
  margin: 200px 100px 200px 100px;
} 

.titulo-skills {
  margin: 100px;
}

.titulo-skills h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #459CD7;
}

.img-skills {
  display: flex;
  justify-content: center;
}

.img-skills img {
  height: 400px;
}

/* Resumo */

#Resumo {
  margin-bottom: 200px;
}

.titulo-resumo {
  margin: 50px;
}

.titulo-resumo h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #459CD7;
}

.Container-resumo-principal {
  display: flex;
  margin: 20px;
  justify-content: space-around;
}

.container-educacao {
  width: 600px;
}

.link-curriculo {
  color: #fff;
}

.div-linha {
  border: 1px solid #459CD7;
}

.container-profissional {
  width: 600px;
}

.titulo-aba-resumo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #459CD7;
}

.titulo-atividade-resumo {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
}

.box-date {
  margin-bottom: 20px;
  width: 89px;
  height: 29px;
  background-color: #459CD7;
  color: #fff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.titulo-empresa-resumo {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 18px;
  font-style: italic;
}

.descricao-items-resumo {
  font-family: 'Open Sans', sans-serif;
  color: #ffffffba;
  font-size: 15px;
  margin-bottom: 50px;
}

.descricao-atividades-resumo {
  font-family: 'Open Sans', sans-serif;
  color: #ffffffba;
  font-size: 15px;
  margin-bottom: 15px;
}

/* Certificacoes */

.certificados {
  margin: 50px;
}

.certificados p {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #459CD7;
}

.certificados li {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 15px;
  padding: 5px;
}

/* Projetos Meus Trabalhos Recentes*/

#Projetos {
  margin-bottom: 150px;
}

.div-titulo-projetos h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #459CD7;
  margin: 50px;
}

.div-titulo-projetos p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #ffffffba;
  margin: 50px;
}

.linha1-projeto {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tag-proj-1 img {
  width: 426px;
}

.tag-proj-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 506px;
  height: 336px;
  background-color: #459CD7;
  border-radius: 15px;
  margin: 20px;
}

.descri-proj {
  background: none;
}

.descri-proj a {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
}

.descri-proj a:hover {
  color: #262626;
}

.descri-proj p:hover {
  color: #262626;
}

.descri-proj p {
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background: none;
}

.tag-proj-2 img {
  width: 426px;
}

.tag-proj-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 506px;
  height: 336px;
  background-color: #fff;
  border-radius: 15px;
  margin: 20px;
}

.descri-proj-2 {
  background: none;
}

.descri-proj-2 a {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  text-decoration: none;
  color: #262626;
}

.descri-proj-2 a:hover {
  color: #459CD7;
}

.descri-proj-2 p:hover {
  color: #459CD7;
}

.descri-proj-2 p {
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #262626;
  background: none;
}


/* Contato */

.Container-geral-contato {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.Titulo-contato p {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #459CD7;
  margin: 50px;
}

.Container-1-contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
  height: 589px;
  background-color: #fff;
  border-radius: 20px;
}

.Container-Contato {
  background: white;
}

.container-Localizacao {
  background: white;
  display: flex;
  margin: 40px 20px 20px 50px;
}

.container-Localizacao svg {
  background: white;
  color: #459CD7;
}

.escrita-contato {
  background: white;
  margin-left: 30px;
}

.escrita-contato-1 {
  background: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: black;
}

.escrita-contato-2 {
  background: white;
  font-family: 'Open Sans', sans-serif;
  color: #1e3b68;
  margin-top: -15px;
}

.escrita-contato-2 a {
  text-decoration: none;
}

.area-svg {
  background-color: #fff;
}


/* Whats Flutuando */

.whats-flutuando {
  background: none;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  margin: 40px;
} 

.whats-flutuando a {
  background: none;
}

.size-whats-app {
  background: none;
  margin: 50px;
  width: 40px;
}


/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: black;
}

.footer p {
  margin: 0;
  padding: 0;
}


/* Responsivo celular */

@media (max-width: 475px) {

  /* Home - inicio */
  .container-2 {
    flex-direction: column;
    width: 267px;
    height: 305px;
    border-radius: 20.5px;
  }

  .titulo-home {
    margin-bottom: 0px;
  }

  .titulo-home h1 {
    font-size: 30px;
  }

  .img-container-2 img {
    width: 100px;
  }

  .escrita-lado-2 {
    margin: 0px;
  }

  .escrita-lado-2 h2 {
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #2970F4;
    text-align: center;
    line-height: 30px;
}

  .size-link-redes-sociais {
    width: 30px;
  }




  /* Sobre-mim  */

  #Sobre-mim {
    margin: 50px 50px 0px 50px;
   }

  .size-img-sobremim img {
    display: none;
  }

  .container-texto-sobre-mim h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #459CD7;
  }

  .texto-sobre-mim {
    font-size: 12px;
  }

  .container-sobre-mim {
    flex-direction: column;
    padding: 10px;
  }

  /* Skills  */

  #Skills {
    margin: 50px
  }

  .titulo-skills {
    margin: 30px;
  } 

  .titulo-skills h3 {
    font-size: 25px;
  }

  .img-skills img {
    width: 250px;
    height: auto;
  }

  /* Resumo  */

  .Container-resumo-principal {
    display: flex;
    flex-direction: column;
    margin: 6px;
    justify-content: space-around;
  } 

  #Resumo {
    margin-bottom: 100px;
  }
  
  .titulo-resumo {
    margin: 50px;
  }
  
  .titulo-resumo h3 {
    font-size: 30px;
  }

  /* educacao + profissional */
  
  .container-educacao, .container-profissional {
    width: 350px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .titulo-aba-resumo {
    font-size: 18px;
  }
  
  .titulo-atividade-resumo {
    font-size: 15px;
  }
  
  .descricao-items-resumo {
    font-size: 13px;
    width: 270px;
  }
  
  .descricao-atividades-resumo {
    font-size: 13px;
  }

  .div-linha {
    display: none;
  }

  /* certificacoes  */

  .certificados {
    margin: 50px;
  }
  
  .certificados p {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #459CD7;
  }
  
  .certificados li {
    color: #fff;
    font-size: 12px;
  }

  /* Ultimos trabalhos  */

  .div-titulo-projetos h3 {
    font-size: 25px;
  }

  .tag-proj-1, .tag-proj-2 {
    width: 250px;
    height: 180px;
    background-color: #459CD7;
  }

  .container-projetos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .linha1-projeto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .descri-proj-2 p {
    color: #fff;
  }

  .div-titulo-projetos > p > a {
    color: #fff;
  }

  .div-titulo-projetos > p > a:hover {
    color: #459CD7;
  }

  .tag-proj-1 img, .tag-proj-2 img {
    width: 180px;
    padding-top: 10px;
  } 

   /* Contatos  */


  .Container-geral-contato {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
  }

  .Container-1-contato {
    width: 250px;
    height: 589px;
    background-color: #fff;
    border-radius: 20px;
  }

  .Titulo-contato p {
    font-size: 25px;
  }

  .Container-1-contato {
    width: 300px;
    height: 589px;
    background-color: #fff;
  }

  .Container-Contato {
    background: white;
    border-radius: 70px;
    
  }

  .container-Localizacao {
    background: white;
    display: flex;
    margin: 40px 20px 10px 20px;
  }

  .container-Localizacao svg {
    height: 50px;
    padding-top: 10px;
  } 

  .escrita-contato-1 {
    font-size: 18px;
  }

  .escrita-contato p {
    padding: 0px;
  }

  .mapa-size {
    width: 226px;
    border-radius: 10px;
    padding-bottom: 10px;
  }

  .size-whats-app {
    width: 20px;
  }

  .whats-flutuando {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 30px;
    margin: 0px;
  }

}