@media (max-width: 475px) {

  /* Geral */ 

  .tit-section {
    font-size: 15px;
    width: 150px;
    padding: 0px;
  }

  .tit-section h2 {
    font-size: 20px;
  }


  /* Home  */

  #home {
    flex-direction: column;
  }

  .text-home {
    font-size: 25px;
  }

  .text-home-2 {
    font-size: 20px;
  }

  .botes-home {
  flex-direction: column;
  }

  .minha-imagem-1 img {
    height: 200px;
  }

  .download-cv {
    margin-top: 20px;
  }

  .download-cv a {
    font-size: 20px;
  }

  /* Sobre  */

  .divs-sobre {
    max-width: 250px;
  }

  .div-sobre p, .div-sobre ul {
    padding: 10px;
    color: #fff;
    background-color: #27457D;
    margin: 50px 0 0px 0px;
    border-radius: 20px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.78);
    max-width: 250px;
  }

  /* Skills  */

  .container-skills {
    flex-direction: row;
  }

  .linha1-skills, .linha2-skills, .linha3-skills {
    flex-direction: column;
  }

  .div-skill {
    flex-direction: column;
    width: 70px;
    height: 90px;
  }

  .div-skill img {
    height: 25px;
    width: auto;
  }

  .div-skill p {
    font-size: 12px;
  }

  .container-servicos {
    flex-direction: column;
  }

  .card-dev, .card-ux-design, .card-seo {
    flex-direction: column;
    background-color: #27457D;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 15px;
    margin: 20px;
    height: 556px;
    max-width: 250px;
  }

  .img-servic img {
    width: 80px;
    margin-top: 20px;
  }

  /* PROJETOS */

  .linha-1-projects, .linha-2-projects {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .imagem-container img {
    max-width: 250px;
  }

  .text-project {
    width: 250px;
  }



    /* Contatos  */
     
    .Container-geral-contato {
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 50px;
    }
  
    .Container-1-contato {
      width: 250px;
      height: 589px;
      background-color: #fff;
      border-radius: 20px;
    }
  
    .Titulo-contato p {
      font-size: 25px;
    }
  
    .Container-1-contato {
      width: 300px;
      height: 589px;
      background-color: #fff;
    }
  
    .Container-Contato {
      background: white;
      border-radius: 70px;
      
    }
  
    .container-Localizacao {
      background: white;
      display: flex;
      margin: 40px 20px 10px 20px;
    }
  
    .container-Localizacao svg {
      height: 50px;
      padding-top: 10px;
    } 
  
    .escrita-contato-1 {
      font-size: 18px;
    }
  
    .escrita-contato p {
      padding: 0px;
    }
  
    .mapa-size {
      width: 226px;
      border-radius: 10px;
      padding-bottom: 10px;
    }

  /* Contatos  */











  
}